<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Your garage door is: {{ garageDoorStatus }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <p>
      <ion-button disabled="{{ isOpen }}" color="success" size="large" (click)="openClose()">
        <ion-icon slot= "start" name="lock-open-outline"></ion-icon>Open</ion-button>
      <ion-button disabled="{{ !isOpen }}" color="danger" size="large" (click)="openClose()">
        <ion-icon slot="end" name="lock-closed-outline"></ion-icon>Close</ion-button>
    </p>
  </div>
</ion-content>
