<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <p>
      <ion-button disabled="{{ isOpen }}" (click)="openClose()">Open</ion-button>
      <ion-button disabled="{{ !isOpen }}" (click)="openClose()">Close</ion-button>
    </p>
  </div>
</ion-content>
